.product-card-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding: 16px;
    .image-container {   
        img {
            width: 100%;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    .product-card-footer {

        .product-infos {
            display: flex;
            font-size: 20px;
            font-family: "Special Gothic Expanded One", sans-serif;
            letter-spacing: 1px;
            font-weight: 400;
            font-style: normal;
            margin-bottom: 8px;
            .title {
                flex: 1;
            }
        }
    }
}