.cart-preview-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 16px;
    top: 60px;
    right: 16px;
    width: 15rem;
    height: 20rem;
    padding: 8px 16px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    overflow: scroll;

    .title {
        text-align: center;
    }
}