.cart-preview-container {
    position: absolute;
    top: 60px;
    right: 0;
    width: 15rem;
    height: 20rem;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
}