.navigation-container {
    display: flex;
    align-items: center;
    padding: 16px;

    .logo-container {
        flex: 1;
    }

    .links-container {
        display: flex;
        gap: 16px;

        .link {
            text-decoration: none;
            color: black;
        }
    }
}