.cart-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .image-container {
        width: 50px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .item-details {
        display: flex;
        flex-direction: column;
    }
}